@model Models.UsuarioModel

@{
    ViewBag.Title = "Excluir";
}

<div class="main-container">
    <h2>Excluir</h2>

    <h3>Tem certeza de que deseja excluir este usuário?</h3>
    <fieldset>
        <legend>UsuarioModel</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Telefone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Telefone)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Senha)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Senha)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Excluir" />
            |
        @Html.ActionLink("Voltar", "Index")
        </p>
    }
</div>
